body {
  width: 100%;
}

.navbar-brand{
  font-size: 100px;
  font-weight: bold;
  padding-left: 20px;
}
.navbar-nav {
  font-style: helvetica;
  font-weight: light;
  font-size: 25px;
  padding-left: 30px;
  padding-top: 20px;
}
.row {
   padding-bottom:40px;
   padding-top: 20px;
   padding-right: 150px;
   padding-left: 40px;
}

.work {
  padding-top: 30px;
  height:500px;
}
.Bild {
  padding-top: 25px;
}
h2 {
  padding-top: 60px;
}

h3 a {
color: black;
margin-left: auto;
}
